# --- Project-Specific ---

# Google API Credentials
# !! DO NOT EVER COMMIT THIS FILE !!
credentials.json

# Python Virtual Environment
.venv/

# Original MATLAB files
*.mat
*.m

# OS-specific (if on macOS)
.DS_Store